.Item button {
  border: 1px solid #0097b2;
  padding: 7px;
  border-radius: 5px;
  background-color: #eaf6f6;
}

.Item .items {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}