.search-item,
.searcch-btn {
  padding: 15px 0;
}

.search-item {
  background-color: #eaf6f6;
}

.searcch-btn {
  background-color: #66bfbf;
  border: 1px solid #d94b84;
}

.searcch-btn:hover {
  background-color: #d94b84;
  border: 1px solid #66bfbf;
}

.icon {
  color: #0097B2;
  font-size: 120px;
  padding-left: 80px;
  margin-bottom: 15px;
}
